body {
  font-family: "Source Sans Pro", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 170px;
  border: 1px solid black;
}

.header a {
  text-decoration: none;
  display: flex;
  font-size: 26px;
  color: #474747;
  margin: 10px;
  font-style: bold;
}
.header h1 {
  font-weight: 300;
}

.header:hover,
.header a:hover {
  color: #37c0fb;
}

.navmenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  height: 100px;
  background-color: #2e2e2e;
  color: #c0c0c0;
  font-size: 18px;
}

.navmenu ul li {
  display: inline;
  padding: 26px;
}
.navmenu ul li:hover {
  color: white;
  cursor: pointer;
  font-style: bold;
}

.space {
  height: 18px;
  background-color: #37c0fb;
}

.banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  height: 500px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
}
