body {
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 170px;
  width: 100vw;
}

.header a {
  text-decoration: none;
  display: flex;
  font-size: 26px;
  color: #474747;
  margin: 10px;
  font-style: bold;
}

.header p {
  display: flex;
  justify-content: center;
}

.header h1 {
  font-weight: 300;
}

.header:hover,
.header a:hover,
.overlay h2 a:hover {
  color: #37c0fb;
}

.navmenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  background-color: #2e2e2e;
  color: #c0c0c0;
  font-size: 18px;
}

.navmenu ul li {
  display: inline;
  padding: 26px;
}

.navmenu ul li:hover {
  color: white;
  cursor: pointer;
  font-style: bold;
}

.space {
  height: 18px;
  background-color: #37c0fb;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  height: 500px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  color: white;
  background: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay h2 {
  font-family: 24px;
  font-weight: 300;
}

.overlay h2 span {
  font-weight: 500;
}

.overlay h2 a {
  text-decoration: none;
  color: #ccc;
}

.overlay button {
  color: white;
  background-color: #37c0fb;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 19px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.info .icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 350px;
  width: 400px;
  margin-top: 20px;
}

.info .icon .logo {
  display: flex;
  justify-content: center;
}
.info .icon .logo img {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 500px;
}

.box .img {
  margin: 50px 50px 0 50px;
}

.info .icon .titlee {
  font-size: 24px;
  color: #474747;
}

.info .icon .text {
  margin: 30px;
  padding: 0 25px 30px 25px;
  font-size: 19px;
  color: #474747;
  text-align: center;
  font-weight: 300;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: #f4f4f4;
}

.title h2 {
  display: flex;
  justify-content: center;
  font-size: 42px;
  color: #474747;
}

.title p {
  display: flex;
  justify-content: center;
  font-size: 28px;
  color: #474747;
  font-weight: 300;
}

.thing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 400px;
  margin-bottom: 50px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 40%;
  margin: 30px 50px 20px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text h3,
.text p {
  color: #474747;
  margin: 20px 20px 24px;
}

.text p {
  font-weight: 300;
}

.item .logo {
  display: flex;
  width: 30%;
  height: 70%;
}

.logo img {
  height: 150px;
  width: 175px;
  border-radius: 5px;
}

.ready {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #35baf3;
}

.ready h2 {
  font-size: 32px;
  color: white;
}

.ready button {
  background: white;
  color: #474747;
  height: 50px;
  width: 175px;
  border-radius: 5px;
  margin-left: 20px;
  font-weight: bold;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px soldid black;
}

.column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  border: 1px solid black;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f1f1f1;
}
.sup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer .contact {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 55vh;
  background: #f1f1f1;
}
footer .form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.information {
  display: flex;
  justify-items: space-between;
  align-items: center;
  width: 50%;
  height: 500px;
}
.infor {
  display: flex;
  width: 40%;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

footer .form h3 {
  font-size: 23px;
  font-weight: bold;
  margin: 40px 0 20px 20px;
}

.msj {
  display: flex;
  align-items: start;
  width: 84%;
  height: 150px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.btn-send {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200px;
  margin: 10px;
  color: white;
  font-weight: bold;
  background: #565656;
  border-radius: 5px;
}

footer .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  text-align: end;
  margin-left: 20%;
  margin-top: 60px;
}

.inline {
  display: flex;
}

footer .links h3 {
  font-size: 23px;
  font-weight: bold;
}

footer .links a,
footer .links a:visited {
  text-decoration: none;
  color: black;
  font-weight: 300;
  border-bottom: 1px dashed #999;
  font-size: 18px;
}

footer .links a:hover {
  color: #37c0fb;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.social-media span {
  display: flex;
  margin: 15px;
}

.copyright {
  display: flex;
  justify-content: center;
  color: #474747;
  font-weight: 300;
  font-size: 18px;
}

.copyright span {
  margin: 20px;
  color: #474949;
}

@media (max-width: 900px) {
  .navmenu {
    display: none;
  }

  .boton {
    display: flex;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
  .overlay {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: hidden;
    height: 150px;
  }

  .overlay h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title h2 {
    text-align: center;
  }

  .box p {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: 19px;
    font-weight: 400;
    color: #474747;
    text-align: center;
  }

  .thing {
    display: flex;
    height: 1000px;
    justify-content: center;
    margin-bottom: 50px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
  }

  .text p {
    width: 60%;
    margin: 0;
    padding: 0 50px 50px 20px;
  }

  .ready {
    display: flex;
    width: 100%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    height: 1000px;
  }

  .sup {
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .sup .information {
    display: none;
  }
}
